{:deps {org.clojure/clojure                         {:mvn/version "1.10.3" :scope "provided"}
        io.replikativ/datahike                      {:mvn/version "0.3.3"}
        io.replikativ/superv.async                  {:mvn/version "0.2.11"}
        alekcz/konserve-jdbc                        {:mvn/version "0.1.0-SNAPSHOT"}
        com.taoensso/timbre                         {:mvn/version "5.1.2"}
        environ/environ                             {:mvn/version "1.2.0"}}
 :paths ["src"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha       {:mvn/version "1.60.945"}
                               lambdaisland/kaocha-cljs  {:mvn/version "1.0.107"}}}

           :repl {:extra-deps {cider/cider-nrepl           {:mvn/version "0.27.2"}
                               nrepl/nrepl                 {:mvn/version "0.8.3"}
                               org.clojure/tools.namespace {:mvn/version "1.1.0"}}
                  :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "replikativ-datahike-jdbc.jar"]}

           :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :local
                                 :artifact "replikativ-datahike-jdbc.jar"}}

           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}

           :ffix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                  :main-opts ["-m" "cljfmt.main" "fix"]}

           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.6.6" :git/sha "4d41c26"}
                          slipset/deps-deploy {:mvn/version "0.2.0"}
                          borkdude/gh-release-artifact {:git/url "https://github.com/borkdude/gh-release-artifact"
                                                        :sha "2f8898d84126a4e922c490f8614211a8b0cf67cd"}
                          babashka/babashka.curl {:mvn/version "0.1.1"}
                          babashka/fs {:mvn/version "0.1.2"}
                          cheshire/cheshire {:mvn/version "5.10.1"}}
                   :ns-default build}}}
